{% extends 'base.html' %}

{%block content%}

<center>
    <div class="col-10">
    <div class="shadow p-3 mb-5 bg-body rounded">
    {% if current_user.is_authenticated %}
        <h1>Helloo {{current_user.name| capitalize}}</h1>
        <br />
        <img src="{{url_for('static', filename='images/whale_watercolor.png')}}">
    {% else %}
        <h1>Helloo stranger!</h1>
        <img src="{{url_for('static', filename='images/toy_project.png')}}">
    {%endif%}
    <p><strong>Welcome to Your Recipe Repo!</strong></p>
    </div>
    </div>
</center>

{% endblock %}