<nav class="navbar navbar-expand-lg" style="background-color: #ffbb7f;">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('index')  }}">RR Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">                              
          {% if current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('add_recipe')}}">Add Recipe</a> 
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('dashboard')}}">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('logout')}}">Log Out</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('login')}}">Log In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('add_user')}}">Add User</a>   
          </li>         
          {% endif %}
          <li class="nav-item">              
          <a class="nav-link" href="{{url_for('recipes')}}">Recipes</a>  
          </li>  
          <li class="nav-item"> 
          <a class="nav-link" href="{{ url_for('name')  }}">Converter</a>
          </li>
          </ul>
          </div>
          <form class="d-flex" role="search" method="POST" action="{{url_for('search')}}">
            {{form.hidden_tag()}}
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searchbar">
            <button class="btn btn-danger" type="submit">Search</button>
          </form>
    
      </div>
    </div>
  </nav>